<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><span class="d-lg-none">IBM EWC</span><span class="d-none d-lg-block">IBM EWC
          63rd Enroll Admin System</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="username" style="color: #fff;"> Hi IBMer</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="register" style="margin-top: 100px; margin-bottom: 100px; ">
    <div class="container">



      <table class="table table-bordered registerForm">
        <thead>
          <tr>
            <th scope="col" colspan="2" class="text-center">2019 Family Day 查詢報名結果</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">員工證號 (Serial No)：</th>
            <td>
              <input type="text" name="query_key" id="query_key">
            </td>
          </tr>
        </tbody>
      </table>


      <div class="text-center">
        <button type="submit" id="regSubmitConfirmBtn" class="btn btn-primary">確定</button>
      </div>

      <br />

      <div class="alert alert-primary" role="alert" id="success_msg" style="width: 100%">
        報名完成
      </div>

      <br />

      <div class="row" id="confirmForm">
        <div class="col-12">
          <table class="table table-bordered registerForm">
            <thead>
              <tr>
                <th scope="col" colspan="4" class="text-center">IBMer 報名資料</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">IBMer報名資料</th>
                <th scope="row" colspan="3">
                  <span id="userTypeRadioOptionsConfirm"></span>
                </th>
              </tr>
              <tr>
                <th scope="row">員工證號 (Serial No)：</th>
                <td>
                  <span id="inputSNConfirm"></span>
                </td>
                <th scope="row">Email ：</th>
                <td>
                  <span id="inputEmailConfirm"></span>
                </td>
              </tr>
              <tr>
                <th scope="row">英文姓名 (English Name)：</th>
                <td>
                  <span id="inputEnglishNameConfirm"></span>
                </td>
                <th scope="row">中文姓名 (Chinese Name)：</th>
                <td>
                  <span id="inputChineseName1Confirm"></span>
                </td>
              </tr>
              <tr>
                <th scope="row">部門 (Department)：</th>
                <td>
                  <span id="departmentSelect1Confirm"></span>
                </td>
                <th scope="row">Location：</th>
                <td>
                  <span id="locationSelect1Confirm"></span>
                </td>
              </tr>
              <tr>
                <th scope="row">手機號碼 (Mobile)：</th>
                <td>
                  <span id="mobileNo1Confirm"></span>
                </td>
                <th scope="row"></th>
                <td>
                </td>
              </tr>
              <tr>
                <th scope="row">身份證字號 (ID)：</th>
                <td>
                  <span id="inputIDConfirm"></span>
                </td>
                <th scope="row">生日 (Birth Day)：</th>
                <td>
                  <span id="birthDayConfirm"></span>
                </td>
              </tr>
              <tr class="participantNumberConfirm">
                <th scope="row">攜伴人數 (Friends #)：</th>
                <td>
                  <span id="inputParticipantConfirm"></span>
                </td>
                <th scope="row">參加費用 (Fee of Participation)：</th>
                <td>
                  NT$<b><span id="participantFeeConfirm"></span></b>元
                </td>
              </tr>
              <script type="text/x-jsrender" id="participantConfirmRow">

                <tr class="participantGroupConfirm{{:label}}">
                  <th scope="row">親友{{:label}} (Friend {{:label}})：</th>
                  <td>
                      <span class="badge badge-secondary">中文姓名 (Chinese Name)</span>：
                      <span id="inputParticipantChineseNameConfirm{{:label}}"></span>
                  </td>
                  <td>
                      <span class="badge badge-secondary">身份證字號 (ID)</span>：<span id="inputParticipantIDConfirm{{:label}}"></span>
                  </td>
                  <td>
                      <span class="badge badge-secondary">生日 (Birth Day)</span>：
                      西元<span id="participantBirthDayConfirm{{:label}}Year"></span>年
                      <span id="participantBirthDayConfirm{{:label}}Month"></span>月
                      <span id="participantBirthDayConfirm{{:label}}Day"></span>日
                  </td>
              </tr>            
              </script>
              <tr>
                <th scope="row">搭車人數 (Passengers #)：</th>
                <td>
                  <span id="inputShuttleConfirm"></span>
                </td>
                <th scope="row">搭車費用 (Fare)：</th>
                <td>
                  NT$<b><span id="shuttleFareConfirm"></span></b>元
                </td>
              </tr>
              <tr>
                <th scope="row">最後修改者：</th>
                <td>
                  <span id="lastModUserConfirm"></span>
                </td>
                <th scope="row">修改時間：</th>
                <td>
                  <span id="lastModTsConfirm"></span>
                </td>
              </tr>

            </tbody>
          </table>

          <div class="col-12 text-center">
            <button type="submit" id="editBtn" class="btn btn-primary">修改資料</button>
            <button type="button" id="histBtn" class="btn btn-primary">查詢歷史紀錄</button>
          </div>

        </div>
      </div>

      <div class="row" id="histSection">
        <div class="col-12">

          <br /><br />

          <table class="table table-bordered registerForm">
            <thead>
              <tr>
                <th scope="col" colspan="4" class="text-center"><span id="hist_title"></span></th>
              </tr>
            </thead>
            <tbody id="hist_rows">

            </tbody>
          </table>

        </div>
      </div>

      <div class="row" id="editSection">
        <div class="col-12">
          <form id="registerForm" method="post" class="form-horizontal">
            <table class="table table-bordered registerForm">
              <thead>
                <tr>
                  <th scope="col" colspan="4" class="text-center">報名資料修改</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">員工證號 (Serial No)：</th>
                  <td>
                    <input type="text" class="form-control" id="inputSN" name="inputSN" placeholder="Enter SN"
                      readonly="readonly">
                    <input type="text" class="form-control" id="userTypeRadioOptions" name="userTypeRadioOptions"
                      hidden="hidden">
                  </td>
                  <th scope="row">Email ：</th>
                  <td>
                    <input type="email" class="form-control" id="inputEmail" name="inputEmail"
                      aria-describedby="emailHelp" placeholder="Enter email">
                  </td>
                </tr>
                <tr>
                  <th scope="row">英文姓名 (English Name)：</th>
                  <td>
                    <input type="text" class="form-control" id="inputEnglishName" name="inputEnglishName"
                      placeholder="Enter English Name">
                  </td>
                  <th scope="row">中文姓名 (Chinese Name)：</th>
                  <td>
                    <input type="text" class="form-control" id="inputChineseName1" name="inputChineseName1"
                      placeholder="請輸入中文姓名">
                  </td>
                </tr>
                <tr>
                  <th scope="row">部門 (Department)：</th>
                  <td>
                    <select class="form-control" id="departmentSelect1" name="departmentSelect1">
                      <option>請選擇</option>
                      <option>Analytic</option>
                      <option>CDL</option>
                      <option>Cloud</option>
                      <option>Cognitive Solution</option>
                      <option>CSL</option>
                      <option>CTA</option>
                      <option>Digital Business</option>
                      <option>ESU (T1-T6)</option>
                      <option>F&O</option>
                      <option>GBP</option>
                      <option>GBS</option>
                      <option>GTS</option>
                      <option>HR</option>
                      <option>IGF</option>
                      <option>Legal</option>
                      <option>M&C</option>
                      <option>Others</option>
                      <option>System Hardware</option>
                      <option>System Software</option>
                      <option>T&O / Finance</option>
                    </select>
                  </td>
                  <th scope="row">Location：</th>
                  <td>
                    <select class="form-control" id="locationSelect1" name="locationSelect1">
                      <option>請選擇</option>
                      <option>CFC</option>
                      <option>NKO</option>
                      <option>Beitou</option>
                      <option>林口E-Center</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th scope="row">手機號碼 (Mobile)：</th>
                  <td>
                    <input type="text" class="form-control" id="mobileNo1" name="mobileNo1" placeholder="格式：09XXXXXXXX">
                  </td>
                  <th scope="row"></th>
                  <td>
                  </td>
                </tr>
                <tr>
                  <th scope="row">身份證字號 (ID)：</th>
                  <td>
                    <input type="text" class="form-control" name="inputID" id="inputID" placeholder="請輸入身份證字號">
                  </td>
                  <th scope="row">生日 (Birth Day)：</th>
                  <td>
                    <input type="text" class="form-control" name="birthDay" id="birthDay" placeholder="請選擇">
                  </td>
                </tr>
                <tr class="participantNumber">
                  <th scope="row">攜伴人數 (Friends #)：</th>
                  <td>
                    <input type="number" min="0" max="10" class="form-control" name="inputParticipant"
                      id="inputParticipant" value="0" placeholder="請輸入攜伴人數">
                  </td>
                  <th scope="row">參加費用 (Fee of Participation)：</th>
                  <td>
                    NT$<b><span id="participantFeeWording">0</span></b>元
                    <input class=".sr-only" name="participantFee" id="participantFee" type="hidden" value="0">
                  </td>
                </tr>
                <script type="text/x-jsrender" id="participantRow">
                  <tr class="participantGroup{{:label}}">
                    <th scope="row">親友{{:label}} (Friend {{:label}})：</th>
                    <td>
                        <span class="badge badge-secondary">中文姓名 (Chinese Name)</span>
                        <input type="text" class="form-control" id="inputParticipantChineseName{{:label}}" name="inputParticipantChineseName{{:label}}" placeholder="請輸入親友{{:label}}中文姓名">
                    </td>
                    <td>
                        <span class="badge badge-secondary">身份證字號 (ID)</span>
                        <input type="text" class="form-control" name="inputParticipantID{{:label}}" id="inputParticipantID{{:label}}" placeholder="請輸入親友{{:label}}身份證字號">
                    </td>
                    <td>
                        <span class="badge badge-secondary">生日 (Birth Day)</span>
                        <input type="text" class="form-control" name="participantBirthDay{{:label}}" id="participantBirthDay{{:label}}" placeholder="請輸入">
                    </td>
                  </tr> 
                </script>
                <tr>
                  <th scope="row">搭車人數 (Passengers #)：</th>
                  <td>
                    <input type="number" min="0" max="11" class="form-control" name="inputShuttle" id="inputShuttle"
                      value="0" placeholder="請輸入搭車人數">
                  </td>
                  <th scope="row">搭車費用 (Fare)：</th>
                  <td>
                    NT$<b><span id="shuttleFareWording">0</span></b>元
                    <input class=".sr-only" name="shuttleFare" id="shuttleFare" type="hidden" value="0">
                  </td>
                </tr>

              </tbody>
            </table>

            <div class="col-12 text-center">
              <button type="submit" id="regSubmitBtn" class="btn btn-primary">確認送出</button>
            </div>

          </form>
        </div>
      </div>


    </div>
  </section>


  <!-- Modal -->
  <div class="modal fade" id="postLoadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">正在查詢，請稍等...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span id="postLoadingModalText"></span>
          <i class="fa fa-gear fa-spin" style="font-size:24px"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">IBM Taiwan EWC 63rd - 如有相關疑問，請聯絡 EWC – Mimmie Chu/Taiwan/Contr/IBM
        (#3841)</p>
    </div>
    <!-- /.container -->
  </footer>
</body>