.alert-text,
.mustMark {
    color: #ee0979;
}

.mustMark {
    font-weight: 800;
}

.has-error input,
.has-error select {
    border-color: #ee0979;
}

.registerForm th[scope=col] {
    background: rgb(20, 113, 194);
    color: #fff;
}

.registerForm th[scope=row] {
    background: rgb(223, 234, 245);
}

.registerForm td,
.registerForm th {
    border: 1px solid #999;
}

.table.registerForm thead th {
    border-bottom: 2px solid #999;
}

.btn-light {
    background: #ccc;
}


.confirmAlertSection {
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container-fluid {
    width: 90%;
    max-width: none;
    }

    .confirmAlertSection {
    width: 90%;
    margin: 0 auto;
    }
}

.bg-board {
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

.bg-main {
    color: #fff;
    background-color: #337ab7;
    padding: 15px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
}

.bg-normal {
    color: #000;
    background-color: #fff;
    padding: 15px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
}

.bg-normal-top {
    color: #000;
    background-color: #fff;
    padding: 15px;
    border-top: 1px solid #999;
}

.bg-normal-middle {
    color: #000;
    background-color: #fff;
    padding: 15px;
}

.bg-normal-middle-left {
    color: #000;
    background-color: #fff;
    padding: 15px;
    border-left: 1px solid #999;
}

.bg-normal-bottom {
    color: #000;
    background-color: #fff;
    padding: 15px;
}

.bg-normal-bottom-left {
    color: #000;
    background-color: #fff;
    padding: 15px;
    border-left: 1px solid #999;
}

.bg-normal-title {
    color: #000;
    background-color: #d9edf7;
    padding: 15px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
}

.bg-normal-title-right {
    color: #000;
    background-color: #d9edf7;
    padding: 15px;
    border-top: 1px solid #999;
}

.form-text {
    margin-top: 0;
}

.row-flex {
    display: flex;
}

.col-v-centered {
    display: flex;
    align-items: center;
}


/* loading */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
    transform: rotate(0deg);
    }

    100% {
    transform: rotate(360deg);
    }
}